<?xml version="1.0" encoding="UTF-8"?>
<config:ConfigModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:config="http://www.modelbus.org/system/model/config.ecore">
  <locations name="repositoryLocation" location="http://openstoryboards.org:8080/modelbusrepository"/>
<!--  <locations name="secureRepositoryLocation" location="https://0.0.0.0:8181/modelbusrepository">
    <properties name="SSLTrustStore" value="SSL/cacerts.jks"/>
    <properties name="SSLTrustStorePassword" value="password"/>
    <properties name="SSLKeyStore" value="SSL/modelbus.keystore"/>
    <properties name="SSLKeyStorePassword" value="password"/>
    <properties name="SSLAlgorithm" value="RSA"/>
    <properties name="SSLPassword" value="password"/>
  </locations> //-->
  <locations name="notificationLocation" location="tcp://openstoryboards.org:61616"/>
  <locations name="svnRepositoryLocation" location="repository"/>
</config:ConfigModel>
