<div class="dashbox">
  <p>
    <span class="big">
      Classes:
      <%= format_measure('countClasses') -%> <%= trend_icon(measure('countClasses')) %>
    </span>
  </p>
</div>
<!--div class="dashbox">
  <h3>Other metrics</h3>
</div-->
